* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    @include respond(large) {
        font-size: 55%;
    }
    @include respond(small) {
        font-size: 50%;
    }
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    // overflow: hidden;
    overflow-x: hidden;
    background-color: $bg;
    // position: absolute;
    min-width: fit-content;
}

a {
    text-decoration: none;
}

section {
    padding: 2rem 0;
    @include respond(large) {
        padding: 2rem;
    }
}