.footer {
    background: $color-black;
    text-align: center;
    &__social {
        padding: 1rem 0;
        a {
            height: 5rem;
            width: 5rem;
            line-height: 5rem;
            font-size: 2rem;
            color: #fff;
            border: $border;
            margin: .3rem;
            border-radius: 50%;
            &:hover {
                background-color: $main-color;
            }
        }
    }
    &__links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 2rem 0;
        gap: 1rem;
        a {
            padding: .7rem 2rem;
            color: #fff;
            border: $border;
            font-size: 2rem;
            &:hover {
                background: $main-color;
            }
        }
    }
    &__credit {
        font-size: 2rem;
        color: #fff;
        font-weight: lighter;
        padding: 1.5rem;
        span {
            color: $main-color;
        }
    }
}